* {
    box-sizing: border-box;
} 

body {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
    background-color:#001122;
    font-family: monospace;
}

.button {
    position: absolute;
    top:50%
}
.button {
    position: absolute;
    top:50%;
    background-color:#102a44;
    color: #8BADC1;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-family: monospace;
  }
  .button:hover {
    background-color:#002ead;
    color: #002ead;
    transition: 0.7s;
}
.button:active {
    background-color: #ffbf00;
}
